@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
body{
    font-size: 24px;
    background-image: url(../img/1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url('../img/cursor.png'), default;
}
.wrapper{
    width: 1300px;
    margin: 0 auto;
}
.header{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 23px;
    text-align: center;
    margin-top: 40px;
}
.logo{
    width: 50%;
}
.nav-link{
    text-decoration: none;
    margin-left: 29px;
    color: #3b3b3b;
}
.nav-link:hover{
    color: #5a0212;
}
h2{
    padding-top: 20px;
    text-align: center;
}
.welcome{
    border-radius: 10px;
    opacity: 0.6;
    background-color: white;
    margin-top: 160px;
}
.text-p{
    padding: 20px;
    text-align: justify;
}
.link{
    text-decoration: none;
    color: brown;
}
.link:hover{
    color: crimson;
}
.footer{
    text-align: center;
    color: white;
}